.title {
    font-size: 110%;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.parameters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.json input {
    width: 100%;
}

.parameter-name {
    width: 100px;
}

.parameters input[type="number"] {
    width: 100px;
}

.main-button {
    font-size: 150%;
    width: 200px;
    height: 50px;
}

.item {
    margin-top: 15px;
}

.item textarea {
    width: 100%;
    height: 10em;
}

.item .item-name {
    font-weight: bold;
}

.item .item-buttons {
    margin: 5px;
}

.sample-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
}

.card {
    border: 1px solid gray;
    padding: 2px;
    background-color: black;
    color: white;
    font-size: 14px;
}

::deep.card hr {
    height: 0px;
    border: none;
    border-top: 1px solid white;
}

::deep.card .line0 {
    color: #FF6666;
}

::deep.card .line1 {
    color: #FF9166;
}

::deep.card .line2 {
    color: #FFFF66;
}

::deep.card .line3 {
    color: #66FF66;
}

::deep.card .line4 {
    color: #66FFFF;
}

::deep.card .line5 {
    color: #7777FF;
}

::deep.card .line6 {
    color: #FF66FF;
}
